
%wrap-inner{
    margin:0 auto;
    width:120rem;
}
%wrap-inner-s{
    margin:0 auto;
    width:95rem;
}

%background-reset{
    padding:0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
}

%hdtxt{
    line-height:0;
    width:0;
    height:0;
    border:0;
    color:transparent;
    overflow:hidden;
    text-indent: -9999px;
}

/* header */
%header-arrow-bottom{
    display:block;
    top:50%;
    right:1.5rem;
    width:.5rem;
    height:.5rem;
    border-width:0;
    border-style:solid;
    border-color: $color-black4;
    border-bottom-width: .1rem;
    border-right-width:.1rem;
    transform: rotate(45deg) translateY(-50%);

}
%header-arrow-right{
    display:block;
    top:50%;
    right:1.5rem;
    width:.5rem;
    height:.5rem;
    border-width:0;
    border-style:solid;
    border-color: $color-black4;
    border-top-width: .1rem;
    border-right-width:.1rem;
    transform: rotate(45deg) translateY(-50%);

}

%arrow-right{
    top:50%;
    width:.5rem;
    height:.5rem;
    border-width:0;
    border-style:solid;
    border-color: $color-grey-bbb;
    border-top-width: .1rem;
    border-right-width:.1rem;
    transform: rotate(45deg) translateY(-50%);
}

