$color-black : #000000 !important;
$color-black2 : #222 !important;
$color-black3 : #333 !important;
$color-black4 : #444 !important;
$color-black6 : #666 !important;
$color-black9 : #999 !important;
$color-white : #ffffff !important;
$color-grey-bbb : #bbb !important;
$color-grey-e9 : #e9e9e9 !important;
$color-grey-f1 : #f1f1f1 !important;

$color-highlight : #ff9700 !important;
$color-yellow : #ffe000 !important;
$color-red : #ea1d00 !important;
$color-red2 : #ed3e4a !important;
$color-blue-gnb : #2f6bdc !important;


/* 비디오 썸네일 */
$tab_img_thum_off : 
'https://img.eduwill.net/eduwill/img/2021/L/product/210304/pc/thumb_interview2_s.jpg',
'https://img.eduwill.net/eduwill/img/2021/L/product/210304/pc/thumb_interview1_s.jpg',
'https://img.eduwill.net/eduwill/img/2021/L/product/210304/pc/thumb_interview3_s.jpg',
'https://img.eduwill.net/eduwill/img/2021/L/product/210304/pc/thumb_interview4_s.jpg',
'https://img.eduwill.net/eduwill/img/2021/L/product/210304/pc/thumb_interview5_s.jpg';
$tab_img_thum_on : 
'https://img.eduwill.net/eduwill/img/2021/L/product/210304/pc/thumb_interview2.jpg',
'https://img.eduwill.net/eduwill/img/2021/L/product/210304/pc/thumb_interview1.jpg',
'https://img.eduwill.net/eduwill/img/2021/L/product/210304/pc/thumb_interview3.jpg',
'https://img.eduwill.net/eduwill/img/2021/L/product/210304/pc/thumb_interview4.jpg',
'https://img.eduwill.net/eduwill/img/2021/L/product/210304/pc/thumb_interview5.jpg';
